## 1.covert binary number to decimal

In [1]:
num=int(input("enter the binary value of a number: "))
decimal=0
base_value=1
temp=num

while temp!=0:
  last_digit=temp%10
  temp=int(temp/10)
  decimal+=last_digit*base_value
  base_value=base_value*2
print("the value of the binary number",num,"in decimal form is",decimal)

enter the binary value of a number: 112
the value of the binary number 112 in decimal form is 8

## 2.generate first n fibonacci series

In [3]:
n=int(input("enter the value of n: "))
n1, n2 = 0,1
count=0
print("fibonacci sequence upto",n,"terms is: ")
while count<n:
    print(n1)
    nth=n1+n2
    n1=n2
    n2=nth
    count+=1

enter the value of n: 9
fibonacci sequence upto 9 terms is:
0
1
1
2
3
5
8
13
21

## 3.display multiplication table of k.take k value from user

In [4]:
k=int(input("enter a number to print the multiplication table: "))
print("multipliction table:")
for i in range(1,11):
  print(k,"*",i,"=",k*i)

enter a number to print the multiplication table: 7
multipliction table:
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

## 4.take 10 integers from keybord using loop nd print their average value on the screen print the following patterns using loop:
      *

      **

      ***

      ****

In [5]:
for num in range(1,11):
    num= int(input("enter a value: "))

enter a value: 4
enter a value: 3
enter a value: 2
enter a value: 1
enter a value: 0
enter a value: 5
enter a value: 6
enter a value: 7
enter a value: 8
enter a value: 9

In [6]:
rows = 4
for row in range(1, rows+1):
  for column in range(1, row+1):
    print("*",end="")
  print("")

*
**
***
****

## 5.write a program to find gcd of two numbers

In [7]:
import math
n1= int(input("enter number 1:"))
n2= int(input("enter number 2:"))
print(math.gcd(n1,n2),"is the GCD of",n1,"and",n2)

enter number 1:27
enter number 2:35
1 is the GCD of 27 and 35

## 6.write program that accepts a word from the user and reverse it

In [9]:
word=input("enter a word: ")
reverse=word[::-1]
print("reverse of",word,"is",reverse)

enter a word: germany
reverse of germany is ynamreg

## 7.write a program to count the number of even nd odd numbers from a series of numbers

In [14]:
start=int(input("enter the starting number of the sequence:"))
end=int(input("enter the ending number of the sequence: "))
count_even=0
count_odd=0
for num in range(start,end+1):
    if num%2==0:
       count_even+=1
    else:
       count_odd+=1
print("the number of even numbers:",count_even)
print("the number of odd numbers",count_odd)

enter the starting number of the sequence:03
enter the ending number of the sequence: 35
the number of even numbers: 16
the number of odd numbers 17

## 8.write a program that prints all numbers from 0 to 6 except 3 and 6

In [15]:
for num in range(0,6):
    if num==3:
        continue
    print(num)

0
1
2
4
5