## 1.program to get a largest and smallest number from a list

In [10]:
lst = []
num = int(input('how many numbers: '))
for n in range(num):
  numbers=int(input('enter number '))
  lst.append(numbers)
print("maximum element in the list is :", max(lst),"\nminimum element in the list is :", min(lst))

how many numbers: 6
enter number 35
enter number 27
enter number 1
enter number 2
enter number 3
enter number 4
maximum element in the list is : 35
minimum element in the list is : 1

## 2.program to remove duplicate from a list

In [12]:
def Remove(duplicate):
  final_list = []
  for num in duplicate:
    if num not in final_list:
      final_list.append(num)
  return final_list
duplicate = [3, 3, 4, 2, 5, 1, 1, 4]
print(Remove(duplicate))

[3, 4, 2, 5, 1]

## 3.program to check list is empty or not

In [14]:
def Enquiry(list1):
  if not lis1:
    return 1
  else:
    return 0
lis1 = []
if Enquiry(lis1):
  print("the list is empty")
else:
  print("the list is not empty")

the list is empty

In [15]:
def Enquiry(list1):
  if not lis1:
    return 1
  else:
    return 0
lis1 = [1, 2, 3, 4, 4, 5]
if Enquiry(lis1):
  print("the list is empty")
else:
  print("the list is not empty")

the list is not empty

## 4.program to clone or copy a list

In [17]:
def Cloning(li1):
  li_copy = []
  li_copy.extend(li1)
  return li_copy
li1 = [28, 16, 22, 3, 4, 1]
li2 = Cloning(li1)
print("Original list:",li1)
print("After Cloning:",li2)

Original list: [28, 16, 22, 3, 4, 1]
After Cloning: [28, 16, 22, 3, 4, 1]

## 5.Program to print a specified list after removing the 0th,4th and 5th elements

In [25]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

## 6.program to print the numbers of a specified list after removing even numbers from it

In [23]:
num = [35, 27, 28, 3, 2, 16]
num = [x for x in num if x%2!=0]
print(num)

[35, 27, 3]

## 7.program to shuffle and print a specified list

In [26]:
from random import shuffle
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
shuffle(color)
print(color)

['Green', 'Yellow', 'Red', 'Black', 'Pink', 'White']

## 8.program to get the difference between two lists

In [31]:
def Diff(A, B):
  print("Difference of two lists ::>")
  return(list(set(A) - set(B)))
A=list()
n1=int(input("Enter the size of the first list ::"))
print("Enter the element of first list ::")
for i in range(int(n1)):
  k=int(input(""))
  A.append(k)
B=list()
n2=int(input("Enter the size of the second list ::"))
print("Enter the element of second list ::")
for i in range(int(n2)):
  k=int(input(""))
  B.append(k)
print(Diff(A, B))

Enter the size of the first list ::5
Enter the element of first list ::
8
4
7
5
6
Enter the size of the second list ::4
Enter the element of second list ::
7
5
6
4
Difference of two lists ::>
[8]