## 1.program tht prints integers from to00. but for multiples of 3, print 'fizz' instead of the number and for the multiples of 5, print 'buzz'. for numbers which are multiples of both 3 and 5, print 'fizzbuzz'

In [1]:
for i in range(1,101):
  if i%3==0 and i%5==0:
    i="FizzBuzz"
    print(i)
  elif i%5==0:
    i="Buzz"
    print(i)
  elif i%3==0:
    i="Fizz"
    print(i)
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

## 2.program to remove consecutive duplicates from the list.

In [3]:
mylist=[1,2,2,3,3,3,5,5,9,4]
prev=None
newlist=[]

for item in mylist:
  if item!=prev:
    newlist.append(item)
    prev=item
print("the new list:\n")
print(newlist)

the new list:

[1, 2, 3, 5, 9, 4]

## 3.find unique elements in a list

In [4]:
mylist=[1,2,2,3,3,3,5,5,9,9,4]
newlist=set(mylist)
print(list(newlist))

[1, 2, 3, 4, 5, 9]

## 4.function that checks if a number is in the given range or not (inclusive of high and low)

In [5]:
def check_range(num,start,stop):
  if num in range(start,stop+1):
    print(num,"is present in the given range.")
  else:
    print(num,"is not present in the given range")
check_range(56,1,100)

56 is present in the given range.

## 5.function that accepts a string and calculates the number of uppercase and lower case characters

In [10]:
def char_case(string):
    lowercase,uppercase,special=0,0,0
    for char in string:
        if char.isupper():
           uppercase+=1
        elif char.islower():
           lowercase+=1
        else:
           special+=1
    print("number of uppercase characters=",uppercase)
    print("number of lowercase characters=",lowercase)
    print("number of special characters=",special)
char_case("Hello Mr . Rogers,how are you this fine Tuesday?")

number of uppercase characters= 4
number of lowercase characters= 33
number of special characters= 11