## 1.python program to create a tuple

In [1]:
my_data = ("hi", "hello", "bye")
print(my_data)

my_data2 = (1, 2.8, "Hello World")
print(my_data2)

my_data3 = ("Book", [1, 2, 3])
print(my_data3)

my_data4 = ((2, 3, 4), (1, 2, "hi"))
print(my_data4)

('hi', 'hello', 'bye')
(1, 2.8, 'Hello World')
('Book', [1, 2, 3])
((2, 3, 4), (1, 2, 'hi'))

## 2.program to create a tuple with different data types

In [2]:
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

('tuple', False, 3.2, 1)

## 3.program to convert a tuple to a string

In [3]:

def convertTuple(tup): 
	str = ''.join(tup) 
	return str

tuple = ('g', 'e', 'e', 'k', 's') 
str = convertTuple(tuple) 
print(str)

geeks

## 4.program to slice a tuple

In [7]:
my_tuple = ('a', 'b', 'c', 'd')
print(my_tuple[1:]) 
print(my_tuple[:2])
print(my_tuple[1:3]) 
print(my_tuple[::2])

('b', 'c', 'd')
('a', 'b')
('b', 'c')
('a', 'c')

## 5.program to find the length of a tuple

In [11]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

## 6.program to convert tuple to a dictionary

In [12]:
tuplex = ((2, "w"),(3, "r"))
print(dict((y, x) for x, y in tuplex))

{'w': 2, 'r': 3}

## 7.program to reverse a tuple

In [14]:
my_tuple = (1,2,3.78, 9.56,"StudyTonight")
my_tuple = my_tuple[::-1]
print(my_tuple)

('StudyTonight', 9.56, 3.78, 2, 1)

## 8.program to convert a list of tuples into a dictionary

In [15]:

l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
d = {}
for a, b in l:
    d.setdefault(a, []).append(b)
print (d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

## 9.program to convert a list to a tuple

In [19]:
list1 = ['aish', 'ice', 'aishu']

tuple1 = (*list1,)

print(tuple1)
print(type(tuple1))

('aish', 'ice', 'aishu')
<class 'tuple'>